# pip
pip install datetime pymysql dotenv flask_cors requests prophet cryptography

# npm

npm install concurrently axios --save-dev

# package.json에 작성 -> 프론트와 백 동시 실행
"scripts": {
    "start": "concurrently \"npm run dev\" \"npm run server\"",
    "dev": "vite",
    "server": "cd backend && flask run --host=127.0.0.1 --port=5050",
    "build": "vite build",
    "preview": "vite preview"
  },