@font-face {
  font-family: "retro";
  src: url("./font/NeoDunggeunmoPro-Regular.woff") format("woff");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1f1425;
  color: #fff;
  
}

a{
  text-decoration: none;
  color: #fff;
}

ol, ul{
  list-style: none;
}

.container{
  /* 반응형 가독성 유지 */
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}